body {
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
}




header  {
    padding: 20px 0;
    text-align: center;
}



h2  {
    text-align: center;
}


footer {
    text-align: center;
}

h1 {
    padding: 120px;
    -webkit-text-stroke-color: 1px black;

}
main {
    background-color: rgba(0, 0, 0, 0.703);
}
.nav-link {
    color: aliceblue;
}


.navbar-toggler {
    background-color: aliceblue;
}

main {
    margin-top: 5px;
}

.eee {
    padding: 20px ;
}

.navbar-brand>img {
    width: 35px;
}
 
@media (max-width: 480px) {
    .mm {padding-top: 20px;}
    body { font-size: 14px } 
    h1 {padding: 70px;}
    .fxg {padding: 65px;
    padding-top: -100x;}
    .card {margin-top: 15px;}
        .carousel-control-prev {max-width: 40px;
        padding-top: 800px;
        display: block;
        }
        .carousel-control-next {
            max-width: 40px;
        padding-top: 800px;
        }
    .card {
      width: 11rem;
    }
    }


.carousel-control-prev,.carousel-control-next {
    bottom: -55%;
}
.jj {
    text-align: center;
    padding: 70px;
    margin-top: -50px;
}
 
.SCHOLL {
    width: 100%;
   
}
.pop {
    margin-bottom: 40px;
}
 .mm {
    padding-bottom: 20px;
 }